common/msc/msc.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright 2007 Donald Jones -->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:annotation id="MSC">
		<xs:documentation xmlns="http://www.w3.org/1999/xhtml">
			<table>
				<tr><td><b>Title:</b></td><td>MSC XML XSD File</td></tr>
				<tr><td><b>Author:</b></td><td>Donald Jones</td></tr>
				<tr><td><b>Copyright:</b></td><td>2007</td></tr>
				<tr><td><b>Description:</b></td><td>This XSD files documents the format of the XML files produced by parsers which output using the msc_parser.pm perl module.<br/></td></tr>
			</table>			
		</xs:documentation>
	</xs:annotation>

	<xs:element name="eventlist">
		<xs:complextype>
			<xs:sequence>
				<xs:element ref="config"/>
				<xs:element ref="event"/>
			</xs:sequence>
			<xs:attribute ref="date" use="required"/>
			<xs:attribute ref="info" use="required"/>
			<xs:attribute ref="logdir" use="required"/>
			<xs:attribute ref="login"/>
			<xs:attribute ref="logname" use="required"/>
			<xs:attribute ref="lognamestub" use="required"/>
			<xs:attribute ref="name" use="required"/>
			<xs:attribute ref="parser" use="required"/>
			<xs:attribute ref="time" use="required"/>
		</xs:complextype>
		<xs:annotation id="eventlist">
			<xs:documentation xmlns="http://www.w3.org/1999/xhtml">
				<b>'eventlist'</b> is the top level XML node used in the MSC output. 
				As well as a list of events it also contains all data needed to produce a graphical Message Sequence Chart of those events. 
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	
	<xs:element name="config">
		<xs:annotation id="eventlist.config">
			<xs:documentation xmlns="http://www.w3.org/1999/xhtml">
				'config' contains the configuration information required to render the events as a Message Sequence Chart (MS)
			</xs:documentation>
		</xs:annotation>				
		<xs:complextype>
			<xs:sequence>
				<xs:element ref="nodelist"/>
				<xs:element ref="outputs"/>
			</xs:sequence>
		</xs:complextype>
	</xs:element>
	
	<xs:element name="nodelist">
		<xs:annotation id="eventlist.config.nodelist">
			<xs:documentation xmlns="http://www.w3.org/1999/xhtml">
				'nodelist' contains a list of nodes which appear in the Message Sequence Chart. 
				The order in which the nodes are rendered in the MSC are determined purely by the idx field of the node.
			</xs:documentation>
		</xs:annotation>				
		<xs:complextype>
			<xs:sequence>
				<xs:element maxoccurs="unbounded" ref="node"/>
			</xs:sequence>
		</xs:complextype>
	</xs:element>
	
	<xs:element name="node">
		<xs:annotation id="eventlist.config.nodelist.node">
			<xs:documentation xmlns="http://www.w3.org/1999/xhtml">
				'node' describes the properties of a node which has been identified as part of the Message Sequence Chart. 
				<ul>
					<li>The 'name' is used as the label for the node in the MSC. </li>
					<li>The 'idx' field is used to determine the position of the node from left-right in the MSC.</li>
				</ul>
			</xs:documentation>
		</xs:annotation>
		<xs:complextype>
			<xs:sequence>
				<xs:element minoccurs="0" ref="link"/>
			</xs:sequence>
			<xs:attribute name="idx" use="required" type="xs:integer">
				<xs:annotation id="eventlist.config.nodelist.node[@idx]">
					<xs:documentation xmlns="http://www.w3.org/1999/xhtml">
						'idx' field is used to determine the position of the node from left-right in the MSC.
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="name" use="required">
				<xs:annotation id="eventlist.config.nodelist.node[@name]">
					<xs:documentation xmlns="http://www.w3.org/1999/xhtml">
						'name' field is used as the label for the node in the MSC.
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complextype>
	</xs:element>
	
	<xs:element name="link">
		<xs:annotation id="eventlist.config.nodelist.node.link">
			<xs:documentation xmlns="http://www.w3.org/1999/xhtml">
				'link' identifies any occurrences where a message transition into the parent node has occurred multiple times.
				<ul>
					<li>The 'duplicates' field is a count of the number of transitions into the parent node from the 'from' node.</li>
					<li>The 'from' field documents which node was the source of these transitions.</li>
				</ul>
				
			</xs:documentation>
		</xs:annotation>
		<xs:complextype>
			<xs:attribute ref="duplicates" use="required"/>
			<xs:attribute name="from" use="required"/>
		</xs:complextype>
	</xs:element>
	
	<xs:element name="outputs">
		<xs:annotation id="eventlist.config.outputs">
			<xs:documentation>
				'outputs' identifies which significant output reports have been generated by the MSC. 
				Note: This is not a list of all the files which have been generated by the parser, 
				but instead the key reports, from which all files can be accessed.
				These outputs will be listed as hyperlinks in the MSC 'topframe' to allow the user to view a given report.
			</xs:documentation>
		</xs:annotation>
		<xs:complextype>
			<xs:sequence>
				<xs:element maxoccurs="unbounded" ref="output"/>
			</xs:sequence>
		</xs:complextype>
	</xs:element>
	
	<xs:element name="output">
		<xs:annotation id="eventlist.config.outputs.output">
			<xs:documentation xmlns="http://www.w3.org/1999/xhtml">
				'output' describes an output report which has been generated as part of the MSC
			</xs:documentation>
		</xs:annotation>
		<xs:complextype>
			<xs:attribute ref="id" use="required"/>
			<xs:attribute ref="title" use="required"/>
			<xs:attribute ref="url" use="required" type="xs:NCName"/>
		</xs:complextype>
	</xs:element>
	
	<xs:element name="event" maxoccurs="unbounded" >
		<xs:complextype>
			<xs:attribute ref="line"/>
			<xs:attribute ref="data"/>
			<xs:attribute ref="date"/>
			<xs:attribute ref="tag"/>			
			<xs:attribute ref="type"/>
			<xs:attributegroup ref="ev_attributes"/>
			<xs:attributegroup ref="msg_attributes"/>
			<xs:attributegroup ref="sc_attributes"/>
			<xs:attribute name="url" type="xs:anyURI"/>
		</xs:complextype>
	</xs:element>

	<!-- ATTRIBUTE GROUPS -->
	<xs:attributegroup name="ev_attributes">
		<xs:annotation id="eventlist.event_ev_attributes">
			<xs:documentation xmlns="http://www.w3.org/1999/xhtml">
				<b>'event_attributes'</b> This identifies the attributes which are unique to the event type event
			</xs:documentation>
		</xs:annotation>
		<xs:attribute ref="event"/>
		<xs:attribute ref="node"/>
		<xs:attribute ref="sev"/>
	</xs:attributegroup>

	<xs:attributegroup name="msg_attributes">
		<xs:annotation id="eventlist.event_msg_attributes">
			<xs:documentation xmlns="http://www.w3.org/1999/xhtml">
				<b>'msg_attributes'</b> This identifies the attributes which are unique to the message events
			</xs:documentation>
		</xs:annotation>
		<xs:attribute ref="msg"/>
		<xs:attribute ref="from"/>
		<xs:attribute ref="to"/>		
	</xs:attributegroup>	

	<xs:attributegroup name="sc_attributes">
		<xs:annotation id="eventlist.event_sc_attributes">
			<xs:documentation xmlns="http://www.w3.org/1999/xhtml">
				<b>'sc_attributes'</b> This identifies the attributes which are unique to the state change event
			</xs:documentation>
		</xs:annotation>
		<xs:attribute ref="event"/>
		<xs:attribute ref="state"/>
		<xs:attribute ref="node"/>
		<xs:attribute ref="msg"/>
	</xs:attributegroup>

	<!-- ATTRIBUTES -->
	<xs:attribute name="data" type="xs:string">
		<xs:annotation id="eventlist.event[@data]">
			<xs:documentation xmlns="http://www.w3.org/1999/xhtml">
				<b>'data'</b> provides any associated data which may be associated with an event.
			</xs:documentation>
		</xs:annotation>
	</xs:attribute>
	<xs:attribute name="date">
		<xs:annotation id="eventlist.event[@date]">
			<xs:documentation xmlns="http://www.w3.org/1999/xhtml">
				<b>'date'</b> provides a date stamp for the event.
			</xs:documentation>
		</xs:annotation>
	</xs:attribute>	
	<xs:attribute name="duplicates" type="xs:integer">
		<xs:annotation id="eventlist.config.nodelist.node.link[@duplicates]">
			<xs:documentation xmlns="http://www.w3.org/1999/xhtml">
				<b>'duplicates'</b> is a count of the number of transitions into the parent node from the 'from' node.			
			</xs:documentation>
		</xs:annotation>		
	</xs:attribute>	
	<xs:attribute name="event">
		<xs:annotation id="eventlist.event[@event]">
			<xs:documentation xmlns="http://www.w3.org/1999/xhtml">
				<b>'event'</b> is a textual description of an event or state change
			</xs:documentation>
		</xs:annotation>
	</xs:attribute>	
	<xs:attribute name="from" type="xs:string">
		<xs:annotation id="eventlist.event[@from]">
			<xs:documentation xmlns="http://www.w3.org/1999/xhtml">
				'from' identifies the source node that a msg event type is being sent from.<br/>
				The 'from' node MUST appear in eventlist.config.nodelist.node
			</xs:documentation>
		</xs:annotation>
	</xs:attribute>
	<xs:attribute name="id" use="required" type="xs:integer">
		<xs:annotation id="eventlist.config.outputs.output[@id]">
			<xs:documentation>
				The 'id' field controls the position in the output list that this entry will be displayed
			</xs:documentation>
		</xs:annotation>	
	</xs:attribute>				
   	<xs:attribute name="info" type="xs:string">
		<xs:annotation id="eventlist[@info]">
			<xs:documentation xmlns="http://www.w3.org/1999/xhtml">
				<b>'info'</b> Is a free text field that the application specific parser can use to present some additional date from the log<br/>
				e.g. Software Version.
			</xs:documentation>
		</xs:annotation>
	</xs:attribute>
	<xs:attribute name="line" use="required" type="xs:integer">
		<xs:annotation id="eventlist.event[@line]">
			<xs:documentation xmlns="http://www.w3.org/1999/xhtml">
				'line' identifies the line upon which an event occurred.<br/>
				It must always exist for an event as it is used in the hyperlink from the MSC to the html version of the original log file.
			</xs:documentation>
		</xs:annotation>
	</xs:attribute>
	<xs:attribute name="logdir" use="required" type="xs:NCName">
		<xs:annotation id="eventlist[@logdir]">
			<xs:documentation xmlns="http://www.w3.org/1999/xhtml">
				<b>'logdir'</b> Identifies the folder which contains the log.
			</xs:documentation>
		</xs:annotation>
   	</xs:attribute>
	<xs:attribute name="login" use="required" type="xs:NCName">
		<xs:annotation id="eventlist[@login]">
			<xs:documentation xmlns="http://www.w3.org/1999/xhtml">
				<b>'login'</b> identifies who ran the parser to process the input log file
			</xs:documentation>
		</xs:annotation>
   	</xs:attribute>
	<xs:attribute name="logname" use="required" type="xs:NCName">
		<xs:annotation id="eventlist[@logname]">
			<xs:documentation xmlns="http://www.w3.org/1999/xhtml">
				<b>'logname'</b> identifies the log filename which has been processed.
			</xs:documentation>
		</xs:annotation>
   	</xs:attribute>
	<xs:attribute name="lognamestub" use="required" type="xs:NCName">
		<xs:annotation id="eventlist[@lognamestub]">
			<xs:documentation xmlns="http://www.w3.org/1999/xhtml">
				<b>'lognamestub'</b> identifies the input log filename without the file extension.
			</xs:documentation>
		</xs:annotation>
   	</xs:attribute>
	<xs:attribute name="msg">
		<xs:annotation id="eventlist.event[@msg]">
			<xs:documentation xmlns="http://www.w3.org/1999/xhtml">
				<b>'msg'</b> is a textual description of a message. Depending upon the parser, this can be extended to include some level of lower level data extraction<br/>
				e.g. extract which alarm is being raised/cleared.
			</xs:documentation>
		</xs:annotation>
	</xs:attribute>	
	<xs:attribute name="name" use="required" type="xs:NCName">
		<xs:annotation id="eventlist[@name]">
			<xs:documentation xmlns="http://www.w3.org/1999/xhtml">
				<b>'name'</b> identifies the full pathname of the log which has been processed.
			</xs:documentation>
		</xs:annotation>
   	</xs:attribute>
   	<xs:attribute name="node" type="xs:string">
		<xs:annotation id="eventlist.event.node">
			<xs:documentation xmlns="http://www.w3.org/1999/xhtml">
				<b>'node'</b> identifies the node that an event or state change event is occuring to.<br/>
				The 'node' value <b>MUST</b> appear in eventlist.config.nodelist.node
			</xs:documentation>
		</xs:annotation>
	</xs:attribute>
	<xs:attribute name="parser" use="required" type="xs:NCName">
		<xs:annotation id="eventlist[@parser]">
			<xs:documentation xmlns="http://www.w3.org/1999/xhtml">
				<b>'parser'</b> identifies parser name which was used to process the log file.
			</xs:documentation>
		</xs:annotation>
   	</xs:attribute>
	<xs:attribute name="sev">
		<xs:annotation id="eventlist.event[@sev]">
			<xs:documentation xmlns="http://www.w3.org/1999/xhtml">
				<b>'sev'</b> identifies the severity of an event. This field does not apply for messages or state changes.<br/>
				The choice of severity value controls the colour which the event will be displayed with in the MSC and table views.<br/>
				<br/>
				'sev' takes a value in the range<br/>
				<br/>
				<table width="300px">
					<thead align="left">
						<th width="50px">Value</th>
						<th width="150px">Meaning</th>
						<th width="100px">Colour</th>
					</thead>
					<tbody>
						<tr><td>0</td><td>Critical</td><td bgcolor="red">Red</td></tr>
						<tr><td>1</td><td>Major</td><td bgcolor="orange">Orange</td></tr>
						<tr><td>2</td><td>Minor</td><td bgcolor="yellow">Yellow</td></tr>
						<tr><td>3</td><td>Intermittent</td><td bgcolor="salmon">Salmon</td></tr>
						<tr><td>4</td><td>Info</td><td bgcolor="white">White</td></tr>
						<tr><td>5</td><td>Clear</td><td bgcolor="lightgreen">Light green</td></tr>
					</tbody>
				</table>		
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:mininclusive value="0"/>
			<xs:maxinclusive value="5"/>
		</xs:restriction>
	</xs:attribute>
	<xs:attribute name="state">
		<xs:annotation id="eventlist.event[@state]">
			<xs:documentation>
				The 'state' field identifies the state that the node has just transitioned to.
			</xs:documentation>
		</xs:annotation>
	</xs:attribute>
	<xs:attribute name="tag" type="xs:string">
		<xs:annotation id="eventlist.event[@tag]">
			<xs:documentation xmlns="http://www.w3.org/1999/xhtml">
				<b>'tag'</b> is an application specific tag for an event which can be used to filter data with the MSC XML Log Editor.<br/>
				e.g. Call ID, thread ID, Reconfig ID
			</xs:documentation>
		</xs:annotation>
	</xs:attribute>
	<xs:attribute name="time" type="xs:NMTOKEN">
		<xs:annotation id="eventlist[@time]">
			<xs:documentation xmlns="http://www.w3.org/1999/xhtml">
				<b>'time'</b> provides a timestamp as to when the parser was run on the log.
			</xs:documentation>
		</xs:annotation>
	</xs:attribute>	
	<xs:attribute name="title">
		<xs:annotation id="eventlist.config.outputs.output[@title]">
			<xs:documentation>
				The 'title' field controls the string which will be displayed in the topframe output list for this entry
			</xs:documentation>
		</xs:annotation>
	</xs:attribute>
	<xs:attribute name="to" type="xs:string">
		<xs:annotation id="eventlist.event[@to]">
			<xs:documentation xmlns="http://www.w3.org/1999/xhtml">
				<b>'to'</b> identifies the destination node that a msg event type is being sent to.<br/>
				The 'to' node <b>MUST</b> appear in eventlist.config.nodelist.node
			</xs:documentation>
		</xs:annotation>
	</xs:attribute>
	<xs:attribute name="type" use="required">
		<xs:annotation id="eventlist.event[@type]">
			<xs:documentation xmlns="http://www.w3.org/1999/xhtml">
				<b>'type'</b> identifies the type of an event. It takes a limited set of values as described below.<br/>
				<br/>
				<table border="1">
					<thead align="left">
						<th width="50px">Value</th>
						<th width="150px">Meaning</th>
						<th>Representation</th>
					</thead>
					<tbody>
						<tr align="center"><td>ev</td> <td align="left">Severity based event</td><td align="left">A box colour coded based upon severity. The box is titled with the 'event' field</td></tr>
						<tr align="center"><td>sc</td> <td align="left">State Change</td>        <td align="left" bgcolor="lightblue">A light blue box containing the 'event' text. Note: that a state change can also have a msg field attached to identify the trigger for the state change.</td></tr>
						<tr align="center"><td>msg</td><td align="left">Message</td>             <td align="left">A message arrow indicating the direction of a message and the message type (as read from the 'msg' field.</td></tr>
					</tbody>
				</table>		
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="ev"/>
			<xs:enumeration value="msg"/>
			<xs:enumeration value="sc"/>
		</xs:restriction>
	</xs:attribute>
	<xs:attribute name="url" use="required" type="xs:NCName">
		<xs:annotation id="eventlist.config.outputs.output[@url]">
			<xs:documentation xmlns="http://www.w3.org/1999/xhtml">
				The 'url' field provides the hyperlink to the report relative to the index.html file.
			</xs:documentation>
		</xs:annotation>
	</xs:attribute>
</xs:schema>